<header id="action-header" class="action-header">
    <div class="action-header-half action-header-left">
        <span class="action-header-title">Left</span>
        <span class="action-header-value">{{ view.left_action_label }}</span>
        <span class="action-header-count" data-text="$counterLeftAction"></span>
    </div>
    <div class="action-header-half action-header-right">
        <span class="action-header-title">Right</span>
        <span class="action-header-value">{{ view.right_action_label }}</span>
        <span class="action-header-count" data-text="$counterRightAction"></span>
    </div>
</header>
