<image-card
    id="image-card-{{ card.image_id }}"
    class="align-{{ card.alignment }}"
    style="--stack-index: {{ card.stack_index }};"
>
    <card-media>
        <img
            src="{{ card.image_src }}"
            alt="{{ card.action_item.file_label }}"
        />
    </card-media>
    <card-caption>
        <queue-entry class="tone-{{ card.action_item.action_tone }}">
            <queue-arrow>{{ card.action_item.arrow }}</queue-arrow>
            <queue-action>{{ card.action_item.action_label }}</queue-action>
            <queue-file>{{ card.action_item.file_label }}</queue-file>
        </queue-entry>
    </card-caption>
</image-card>
