<image-card
    id="image-card-{{ card.image_id }}"
    class="align-{{ card.alignment }}"
    style="--stack-index: {{ card.stack_index }};"
>
    <card-media>
        <img
            src="{{ card.image_src }}"
            alt="{{ card.action_item.file_label }}"
        />
    </card-media>
    <card-caption>
        <entry-line class="tone-{{ card.action_item.action_tone }}">
            <entry-status><status-glyph class="{{ card.action_item.status_kind }}"></status-glyph></entry-status>
            <entry-file>{{ card.action_item.file_label }}</entry-file>
        </entry-line>
    </card-caption>
</image-card>
